.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

canvas{ background: blue;}

#step-grid {
	width: 80%;
	border: 1px black solid;
}

td{
	border: 1px black solid;
	padding: 1em;
}

