<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/ajaxOnLoad.js"></script>
</head>
<body>
	<br>
	<hr>
	<h3>Hi I will load my buffer once, with 1 Ajax request on load. <br>Then I can trigger many plays of the sound in my loaded buffer, without a call to the server.</h3></br>
	<hr>
	<br>
	<button>I am a sound. Play me.</button>

<!-- 	<audio src="crash.wav" controls></audio>
 -->	
</body>
</html>