<form action="#" id="machine1">

	<input type="text" id="bpm" placeholder="BPM"><span>Beats Per Min</span>
	
	<hr>

	<table id="step-grid">
		<tr>
			<th>Sound Source</th>
			<th>Step 1</th>
			<th>Step 2</th>
			<th>Step 3</th>
			<th>Step 4</th>
		</tr>
		<tr>
			<td>Kick</td>
			<td><input type="checkbox" name="kick1" value="on"></td>
			<td><input type="checkbox" name="kick2" value="on"></td>
			<td><input type="checkbox" name="kick3" value="on"></td>
			<td><input type="checkbox" name="kick4" value="on"></td>
		</tr>
		<tr>
			<td>Snare</td>
			<td><input type="checkbox" name="snare1" value="on"></td>
			<td><input type="checkbox" name="snare2" value="on"></td>
			<td><input type="checkbox" name="snare3" value="on"></td>
			<td><input type="checkbox" name="snare4" value="on"></td>
		</tr>

	</table>

	<input type="submit" value="Two Bars of CRAZY. on your mark, set, go.">
	


</form>


<script src="js/grid1.js"></script>