<form action="#" id="machine1">

	<input type="text" id="bpm" placeholder="BPM"><span>Beats Per Min</span>
	
	<hr>

	<table id="step-grid">
		<tr>
			<th>Sound Source</th>
			<th>Step 1</th>
			<th>Step e</th>
			<th>Step +</th>
			<th>Step uh</th>
			<th>Step 2</th>
			<th>Step e</th>
			<th>Step +</th>
			<th>Step uh</th>
		</tr>
		<tr>
			<td>Kick</td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>
			<td><input type="checkbox" class="kickstep"></td>

		</tr>
		<tr>
			<td>Snare</td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
			<td><input type="checkbox" class="snarestep"></td>
		</tr>
		<tr>
			<td>HiHat</td> 
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>
			<td><input type="checkbox" class="hatstep"></td>

		</tr>
		<tr>
			<td>Crash</td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>
			<td><input type="checkbox" class="crashstep"></td>

		</tr>


	</table>

	<br><input type="submit" value="Two Bars of CRAZY. on your mark, set, go.">
	


</form>


<script src="js/grid1.js"></script>