<h2>SOUNDS</h2>
<hr>
<h3>Boring Audio Tags linking samples, to verify routing and playability.</h3>

<p>Kick:</p>
<audio src="/samples/Kit/CyCdh_K3Kick-01.wav" controls="controls"></audio>

<p>Snare:</p>
<audio src="/samples/Kit/CyCdh_K3Snr-01.wav" controls="controls"></audio>

<p>Hat:</p>
<audio src="/samples/Kit/CyCdh_K3ClHat-03.wav" controls="controls"></audio>

<p>Crash:</p>
<audio src="/samples/Kit/CyCdh_K3Crash-07.wav" controls="controls"></audio>

<hr>

<button id="osc">Oscillator Mouse Over</button>

<hr>

<h3>Learn to play the drums badly!</h3>

<button id="kick">KICK ME</button>

<button id="snare">SNARE ME</button>

<button id="hihat">HAT ME</button>

<button id="crash">CRASH ME</button>

<h4>Coming SOON play drums with ASDF. <br>So rock music!</h4>

<hr>


<form action="#" id="rockNroll">
	
	<input type="text" id="bpm" placeholder="BPM"><span>Beats Per Min</span>

	<input type="submit" value="I am Rock and Roll Music Please Click For Me to Shine.">

</form>









